# EDA analysis of the datasets.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

# Display settings
pd.set_option('display.max_columns', None)
sns.set(style="whitegrid")

In [12]:
# Load the dataset (adjust the path as needed)
df = pd.read_csv("../data/IpAddress_to_Country.csv")
df.head()

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

## Basic Info

In [13]:
print("Shape:", df.shape)
df.info()
df.describe(include='all')

Shape: (138846, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138846 entries, 0 to 138845
Data columns (total 3 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   lower_bound_ip_address  138846 non-null  float64
 1   upper_bound_ip_address  138846 non-null  int64
 2   country                 138846 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB

        lower_bound_ip_address  upper_bound_ip_address        country
count             1.388460e+05            1.388460e+05         138846
unique                     NaN                     NaN            235
top                        NaN                     NaN  United States
freq                       NaN                     NaN          46868
mean              2.724532e+09            2.724557e+09            NaN
std               8.975215e+08            8.974979e+08            NaN
min               1.677722e+07            1.677747e+07            NaN
25%               1.919930e+09            1.920008e+09            NaN
50%               3.230887e+09            3.230888e+09            NaN
75%               3.350465e+09            3.350466e+09            NaN
max               3.758096e+09            3.758096e+09            NaN

## Missing Values and Duplicates

In [14]:
# Check for missing values
df.isnull().sum()

# Check for duplicates
print("Duplicates:", df.duplicated().sum())

Duplicates: 0

## IP address type conversion

In [21]:

# IP conversion
# If columns are float, convert to int
df['lower_bound_ip_address'] = df['lower_bound_ip_address'].astype(int)
df['upper_bound_ip_address'] = df['upper_bound_ip_address'].astype(int)

In [22]:
df.to_csv("../data/processed_IpAddress_to_Country.csv", index=False)